/* .purple {
  color: rgb(115, 0, 255);
}

button {
  border: 1px solid rgb(115, 0, 255);
  color: rgb(115, 0, 255);
  background-color: white;
  width: 100px;
  height: 25px;
  border-radius: 3px;
}

select {
  border: 1px solid rgb(115, 0, 255);
  color: rgb(115, 0, 255);
  width: 100px;
  height: 25px;
  border-radius: 3px;
}

h1 {
  color: rgb(115, 0, 255);
}

button:hover {
  color: white;
  background-color: rgb(155, 73, 255);
}
select:hover {
  color: white;
  background-color: rgb(149, 62, 255);
}

button:disabled {
  color: rgb(182, 123, 255);
  border: 1px solid rgb(182, 123, 255);
  background-color: rgb(255, 255, 255);
}

button:disabled:hover {
  color: rgb(155, 73, 255);
} */

button{
padding:2px 17px;
border: 1px solid rgb(88, 135, 255);
}