h1 {
  margin: 0;
}
.preferitiBox {
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
}

ul {
  list-style: none;
}

.element {
  display: flex;
  align-items: center;
}
button {
  background-color: white;
  border: solid 1px black;
  height: 20px;
  margin: 1px;

  border-radius: 3px;
}

p {
  padding: 5px;
}

.star {
  color: orange;
}

button:hover {
  background-color: rgb(218, 218, 218);
}
